<div style="display: flex;"> 
	<div style="width: 20%; background: lightblue; height: 500px;"> 

	</div>	
	<div style="width: 60%; background: lightgreen;"> 

		<!-- post div start here -->

		<div style="display: flex;background: lightcyan; margin: 20px;">
			<div style="width: 40%;">
				<img style="margin: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png">
			</div>
			<div style="width: 60%;">
					<h2>this is my new blog</h2>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
			</div>
		</div>
<!-- post div end hare / -->


		<!-- post div start here -->

		<div style="display: flex;background: lightcyan; margin: 20px;">
			<div style="width: 40%;">
				<img style="margin: 10px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Image_created_with_a_mobile_phone.png/220px-Image_created_with_a_mobile_phone.png">
			</div>
			<div style="width: 60%;">
					<h2>this is my new blog</h2>
					<hr>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.	</p>
			</div>
		</div>
<!-- post div end hare / -->


	</div>	
	<div style="width: 20%; background: lightblue; height: 500px;"> hello</div>	

</div>